@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0 0;
  border: 0 0;
  padding: 0 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 800px;
  min-height: 500px;
  border-style: solid;
  border-width: 1px;
  border-color: steelblue;
  border-radius: 5px;
}

.filterBar {
  width: 100%;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  padding-left: 3px;
}

.tesseract {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5px;
  height: auto;
  width: 100%;
}

.memberContainer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
}

.member {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 90px;
  margin: 5px 0px;
  padding: 3px 10px;
  border-radius: 3px;
  border-width: 0;
  border-right-width: 2px;
  border-style: solid;
  border-color: steelblue;
  width: calc(100% - 10px);
  background-color: rgb(231, 244, 255);
}

.member h4 {
  font-size: 14px;
}

.selected {
  width: 50%;
}

.memberAvatar {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.memberDetail {
  padding-right: 10px;
  padding-top: 10px;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: auto;
}

.memberDetail h4 {
  font-size: 13px;
}

.date {
  font-size: 12px;
}

@media (min-width: 320px) {
  .container {
    min-width: 300px;
  }

  .container h1 {
    font-size: 32px;
  }

}

@media (min-width: 425px) {
  .container {
    min-width: 405px;
  }

  .container h1 {
    font-size: 32px;
  }

}

@media (min-width: 768px) {
  .container {
    min-width: 748px;
  }

  .container h1 {
    font-size: 40px;
  }
}